.dosisLig{
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
}

.dosisReg{
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.dosisMed{
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.urbanistLig{
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
}

.urbanistReg{
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
}
