@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Urbanist:wght@300;400&display=swap"); */

@font-face {
  font-family: 'Urbanist';
  src: url('../public/fonts/Urbanist-Regular.ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url('../public/fonts/Dosis-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Dosis", sans-serif;
  font-family: "Urbanist", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
